/* Original source: CSS Tricks (http://css-tricks.com/examples/ShapesOfCSS/)
/* If you ^ this shape please thank them!
/* */

#triangle-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
}