/* Original source: CSS Tricks (http://css-tricks.com/examples/ShapesOfCSS/)
/* If you ^ this shape please thank them!
/* */

#triangle-topleft {
	width: 0;
	height: 0;
	border-top: 100px solid red; 
	border-right: 100px solid transparent;			
}