/* Original source: CSS Tricks (http://css-tricks.com/examples/ShapesOfCSS/)
/* If you ^ this shape please thank them!
/* */

#triangle-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid red;
	border-bottom: 50px solid transparent;
}